/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
  
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

/* Start Here */

body{

  max-width: 1440px;
  min-width: 1420px; 
  margin: auto;

}
section{
  
  margin-left: 50px;
  margin-right: 50px;
}

header{
  display: inline-block;
  width: 100%;

  
 }
.logo{
  font-family: "Poppins";
  color:  #24126A;
  font-size: 26px;
  font-weight: bold;

  float: left;
  margin: 15px;
  margin-left: 50px;
}
.logo:after{
  color: #F55D3A;
  content: attr(data-descr);
  position: absolute;
}
ul{
  float: right;

  margin-top: 15px;
  margin-right: 80px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
li{
  display: inline-block;
  color: #3D2892;
  margin: 7px;
  font-size: 18px;
  margin-right: 50px;
  }
a{
  text-decoration: none;
  font-weight: lighter bold;
}
.b1{
  font-weight: bold;
  color: #24126A;
}
.title{
  text-transform: uppercase;
  margin: 50px 400px 25px 30px;
  padding: 5px;
}
button{
  background-color:  #24126A;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: var(--box-shadow);
  margin: 40px 0;
  border: none;
}
a{
  color: #FFFAFB;
  font-size: 18px;
  font-weight: lighter bold;
  text-decoration: none;
}



h1{
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  color: #F55D3A;


}
h2{
  font-size: 32px;
  color: #4A4A4A;
  font-family: 'Lora', serif;

  margin-top: 25px;
  margin-right: 550px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
h3{
  font-size: 28px;
  color: #F55D3A;
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 18px;
  font-family: 'Lora', serif;
   color: #4A4A4A;
}
.pumpkin{
  float: right;
  width: 300px;
  height: auto;

  margin-right: 50px;
}
.pumpkin_image{
  width: inherit; 
}
.title1, .top, .title2{
  color:   #24126A;
}
.top{
  text-align: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;

  padding: 70px;
}

.p1{
  padding-top: 20px;
}
.talatauno{
  float: right;

  margin: 50px;
  margin-left: 0px;
  padding-top: 50px;
  padding-right: 102px;
}
.talatados{
  float: left;
  text-align: left;

  margin: 50px;
  margin-left: 130px;
  
}
.figure1{
  float: left;
  margin: 100px;
  margin-right: 50px
  margin-left: 30px;
}
.pic1{
  margin-left: 30px;
  box-shadow: -50px -50px 0 -40px #F55D3A;
  border-radius: 10px;
}
.figure2{
  float: right;
  margin: 50px;
  margin-right: 162px;
  border-radius: 10px;
}
.pic2{
  box-shadow: 50px -50px 0 -40px #1AC3C3;
}

.figure1, .talatados{
  display: inline-block;
}
.paramdam, .senyales{
  display: flex;
  
}
.readmore{
  color: #F55D3A;
  font-family: 'Poppins', sans-serif;
  margin: 50px;
  margin-left: 0px;
  font-weight: bold;
  text-shadow: #bababa 3px 3px 20px;
}
.items{
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
 

  
}

.topauthors{
  text-align: center;
  margin: 50px;

}

.aphoto{
  box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
  border-radius: 100px;
  margin: 15px;

  
}





footer{
  background-image: url(../images/Vector.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  width: 100%;
  height: 430px;
  border: 1px solid ghostwhite;
}
.search {

  float: right;
  margin-right: 90px;
  margin-top: 30px;
}
.ftitle{;
  margin-left: 50px;
}
.terms{;
  text-align: center;
  color: #FFFAFB;
  font-family: 'Poppins', sans-serif;
}
.ftitle, .search{
  display: inline-block;
}
.container{;
  margin: 20px;
  margin-top: 200px;
  
}
.spookus{
  background-color: #24126A;
  color: #FFFAFB;
  border-radius: 5px;
  padding: 8px 10px;
  font-weight: bold;
}
.searchbar{
  padding: 10px 5px;
  width: 250px;
  margin-right: 10px; 
}







